.container {
  padding-top: 80px; /* Adjust this based on the height of your NavBar */
  padding-bottom: 60px; /* Adjust this based on the height of your Footer */
  min-height: calc(100vh - 140px); /* Adjust this based on the height of your NavBar and Footer */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensures the footer stays above other content */
}

.accordionContainer {
  width: 65%;
  margin: 0 auto; /* Center the accordion */
}

.accordionTrigger {
  @apply w-full p-4 text-left bg-[#5790AB] text-white cursor-pointer border border-gray-300 flex justify-between items-center relative; /* Increase padding to p-6 */
  border-bottom: 0; /* Remove bottom border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadowing */
  font-size: 1.25rem; /* Increase font size */
  font-weight: bold; /* Make text bold */
}

.accordionTrigger:last-child {
  border-bottom: 1px solid #ccc; /* Add border to the last item */
}

.accordionTrigger::after {
  content: '+';
  font-size: 2rem; /* Adjust font size */
  @apply text-[#5790AB] bg-white rounded-full h-10 w-10 flex items-center justify-center font-bold;
  position: relative;
  top: -2px; /* Move the plus sign slightly higher */
}

.accordionTrigger[data-state="open"]::after {
  content: '-';
}

.accordionContent {
  @apply p-6 border-t border-gray-300 bg-gray-100; /* Light grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadowing */
}

.tabsList {
  @apply flex justify-center mb-4;
}

.tabsTrigger {
  @apply px-16 py-4 text-lg font-bold text-xl border cursor-pointer -mr-1 text-[#5790AB];
}

.tabsTrigger:first-child {
  @apply rounded-tr-none;
}

.tabsTrigger:last-child {
  @apply rounded-tl-none;
}

.tabsTrigger[data-state="active"] {
  @apply bg-[#5790AB] text-white border-b-0;
}

.title {
  @apply text-5xl font-semibold mb-4 text-center text-[#5790AB];
}
